.primaryContainer {
    height: auto;
    margin-left: 0%;
    margin-right: 0px;
    min-height: 100%;
    width: 100%;
    float: left;
    position: relative;
}

#text2 {
    float: left;
    font-size: 12px;
    width: 305.203125px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 14px;
    clear: none;
    min-height: 0px;
    font-family: helvetica;
    margin-right: 0%;
    letter-spacing: 0.5px;
}

#textspan3 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(170, 34, 34);
}

#text3 {
    float: left;
    font-size: 11px;
    width: 115px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(51, 51, 51);
    margin-right: 0%;
    display: block;
    padding-top: 14px;
    font-family: helvetica;
}

#line {
    float: none;
    height: 2px;
    margin-left: auto;
    margin-top: -2px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-color: rgb(51, 51, 51);
    display: block;
}

#nav {
    float: none;
    height: 2.994012%;
    clear: none;
    width: 89.998584%;
    min-width: 0px;
    min-height: 0px;
    padding-top: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#box1 {
    float: left;
    height: 100%;
    clear: none;
    width: 10.570193%;
    min-height: 50px;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.00173256%;
    display: block;
}

#text7 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-left: 0%;
    margin-top: 0px;
    margin-right: 0px;
    font-family: helvetica;
}

#box2 {
    float: left;
    height: 100%;
    clear: none;
    width: 5.914274%;
    min-height: 50px;
    display: block;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.47653727%;
}

#text8 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 0px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: helvetica;
}

#box3 {
    float: left;
    height: 100%;
    clear: none;
    width: 13.212741%;
    min-height: 50px;
    display: block;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.47812045%;
}

#text9 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 0px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: helvetica;
}

#box4 {
    float: left;
    height: 100%;
    clear: none;
    width: 12.583563%;
    min-height: 50px;
    display: block;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.47653727%;
}

#text10 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 0px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: helvetica;
}

#box5 {
    float: left;
    height: 100%;
    clear: none;
    width: 5.285096%;
    min-height: 50px;
    display: block;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.47653727%;
}

#text11 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 8px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: helvetica;
}

#box6 {
    float: left;
    height: 100%;
    clear: none;
    width: 16.232796%;
    min-height: 50px;
    display: block;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.47495409%;
}

#text12 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 8px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: helvetica;
}

#box7 {
    float: left;
    height: 100%;
    clear: none;
    width: 12.583563%;
    min-height: 50px;
    display: block;
    padding-right: 0%;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0.47495409%;
}

#text13 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
    clear: none;
    min-height: 0px;
    padding: 16px 0px 8px;
    display: block;
    text-transform: uppercase;
    color: rgb(170, 34, 34);
    letter-spacing: 0.5px;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0%;
    font-family: helvetica;
}

#box8 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: -50px;
    clear: both;
    width: 20%;
    min-height: 50px;
    display: block;
    margin-right: -0.00353744%;
}

#top_tools {
    float: none;
    height: 40px;
    margin: auto auto 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    display: block;
    min-width: 0px;
    opacity: 1;
    background-color: rgb(243, 243, 243);
}

#marketing_bar {
    float: none;
    height: 40px;
    margin-left: auto;
    margin-top: auto;
    clear: none;
    width: 100%;
    position: relative;
    max-width: none;
    display: block;
    margin-right: auto;
    background-color: rgb(51, 51, 51);
}

#box {
    float: none;
    height: 40px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 89.998584%;
    min-height: 0px;
    margin-right: auto;
    min-width: 0px;
}

#account_cart {
    float: right;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 350px;
    min-height: 0px;
    margin-right: auto;
}

#obsessed:hover {
    background-image:url("img/obsess_icon_over.jpg");
    background-attachment: scroll;
    -webkit-background-size: 19px 18px;
    background-size: 19px 18px;
    background-position: 72px 11px;
    background-repeat: no-repeat no-repeat;
}

#obsessed {
    float: right;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 98.73px;
    margin-right: auto;
    display: block;
    background-image:url("img/obsess_icon.jpg");
    background-attachment: scroll;
    -webkit-background-size: 19px 18px;
    background-size: 19px 18px;
    background-position: 72px 11px;
    background-repeat: no-repeat no-repeat;
}

#text5 {
    float: left;
    font-size: 11px;
    width: 89.7187501153125px;
    height: 100%;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 9px;
    margin-top: 0px;
    clear: none;
    min-height: 40px;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
    padding-top: 14px;
}

#account:hover {
    background-image:url("img/account_icon.jpg");
    background-attachment: scroll;
    -webkit-background-size: 20px 19px;
    background-size: 20px 19px;
    background-position: 65px 10px;
    background-repeat: no-repeat no-repeat;
}

#account {
    float: right;
    height: 40px;
    margin: auto 0.23550725% 0px 0px;
    clear: none;
    width: 90px;
    display: block;
    background-image:url("img/account_icon%201.jpg");
    background-attachment: scroll;
    -webkit-background-size: 20px 19px;
    background-size: 20px 19px;
    background-position: 65px 10px;
    background-repeat: no-repeat no-repeat;
}

#text6 {
    float: left;
    font-size: 11px;
    width: 82.9999998px;
    height: 100%;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 7px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0%;
    padding-top: 14px;
    font-family: helvetica;
}

#cart {
    float: right;
    height: 40px;
    margin-left: auto;
    margin-top: auto;
    clear: none;
    width: 43px;
    margin-right: 0%;
    background-image:url("img/cart%201.png");
    background-attachment: scroll;
    -webkit-background-size: 24px 23px;
    background-size: 24px 23px;
    display: block;
    background-position: 10px 7px;
    background-repeat: no-repeat no-repeat;
}

#text4 {
    float: left;
    font-size: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: auto;
    margin-top: auto;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-top: 16px;
}

#text5:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#text3:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

#formgroup {
    float: left;
    height: 30px;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 9px;
    clear: none;
    width: 100%;
    min-height: auto;
    padding: 0px;
    margin-right: 0%;
}

#textinput {
    float: none;
    height: 30px;
    padding: 4px 4px 4px 6px;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    font-family: helvetica;
    color: rgb(51, 51, 51);
    letter-spacing: 1px;
    border: 1px solid rgb(204, 204, 204);
    background-image:url("img/magnifying.png");
    background-attachment: scroll;
    -webkit-background-size: 25px;
    background-size: 25px;
    background-position: 100% 2px;
    background-repeat: no-repeat no-repeat;
}

#text14 {
    float: none;
    font-size: 1em;
    width: auto;
    height: 0px;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0px;
    display: block;
    min-height: 0px;
}

#formgroup:focus {
    border-top-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-top-style: solid;
}

#textinput:focus {
    border-color: rgb(102, 102, 102);
    border-top-width: 1px;
    border-top-style: outset;
}

#textspan3:hover {
    text-decoration: underline;
}

#text7:hover {
    font-weight: 500;
}

#text6:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#text4:hover {
    font-weight: 600;
    text-decoration: none;
}

#box2:hover {
    background-image:url("img/menu_carrot.png");
    background-attachment: inherit;
    -webkit-background-size: 24px 11px;
    background-size: 24px 11px;
    background-position: 50% 40px;
    background-repeat: no-repeat no-repeat;
}

#text8:hover {
    font-weight: 600;
}

#text13:hover {
    font-weight: 600;
}

#text1 {
    float: none;
    font-size: 12px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 12px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-family: helvetica;
}

#logo {
    float: none;
    height: 47px;
    margin: 30px auto 0px;
    clear: none;
    width: 220px;
    min-height: 0px;
    padding: 0px;
}

#image {
    float: none;
    width: 220px;
    max-width: 100%;
    height: 35px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#image1 {
    float: none;
    width: 220px;
    max-width: 100%;
    height: 12px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#text {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 12px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
}

#image2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 48.050139%;
    margin-top: 142px;
    clear: none;
    color: rgb(0, 0, 0);
}

#image3 {
    float: left;
    width: 36px;
    max-width: none;
    height: 36px;
    margin-left: 84.649123%;
    margin-top: -43px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#hamburger {
    float: left;
    height: 25px;
    margin: -37px 0px 0px 23px;
    clear: none;
    width: 30px;
}

#box9 {
    float: left;
    height: 3px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(51, 51, 51);
    display: block;
}

#box10 {
    float: left;
    height: 3px;
    margin-left: 0%;
    margin-top: 6.5px;
    clear: both;
    width: 100.000002%;
    display: block;
    background-color: rgb(51, 51, 51);
    margin-right: 0%;
}

#box11 {
    float: left;
    height: 3px;
    margin: 8px 0px 0px;
    clear: both;
    width: 100%;
    display: block;
    background-color: rgb(51, 51, 51);
}

@media only screen and (max-width: 1926px) {
    #text7 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #text8 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #text9 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #text10 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #text11 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #text12 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #text13 {
        font-size: 19px;
        padding-top: 15px;
        letter-spacing: 1px;
    }

    #formgroup {
        height: 30px;
    }

    #textinput {
        height: 30px;
    }

    #nav {
        width: 89.882943%;
        max-width: 1075px;
    }

    #box {
        max-width: 1075px;
        width: 89.882943%;
    }

    #text {
        color: rgb(255, 255, 255);
        margin-left: 42.141807%;
        margin-right: 0px;
        float: left;
        margin-top: 12px;
        clear: none;
        font-size: 12px;
    }

    #text1 {
        margin-top: 12px;
        clear: none;
        margin-left: 0.75294024%;
        margin-right: 0px;
        float: left;
    }

    #image2 {
        display: none;
    }

    #image3 {
        display: none;
    }

    #hamburger {
        display: none;
    }
}

@media only screen and (max-width: 1500px) {
    #text {
        color: rgb(255, 255, 255);
        margin-left: 37.369903%;
        margin-right: 0px;
        float: left;
        font-size: 14px;
        margin-top: 12px;
        clear: none;
    }

    #text1 {
        margin-top: 12px;
        clear: none;
        margin-left: 0.97371245%;
        margin-right: 0px;
        float: left;
        font-size: 14px;
    }

    #image2 {
        display: none;
    }

    #hamburger {
        display: none;
    }

    #image3 {
        display: none;
    }

    #text2 {
        font-size: 14px;
        height: auto;
        width: 343.203125px;
    }

    #text7 {
        letter-spacing: 0.5px;
    }

    #text8 {
        letter-spacing: 0.5px;
    }

    #text9 {
        letter-spacing: 0.5px;
    }

    #text10 {
        letter-spacing: 0.5px;
    }

    #text11 {
        letter-spacing: 0.5px;
    }

    #text12 {
        letter-spacing: 0.5px;
    }

    #text13 {
        letter-spacing: 0.5px;
    }

    #text3 {
        font-size: 13px;
        height: auto;
        margin-left: auto;
    }

    #text6 {
        font-size: 13px;
    }

    #text5 {
        font-size: 13px;
    }

    #box {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        width: 89.960784%;
        max-width: none;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1040px) {
    #formgroup {
        margin-top: 8px;
        margin-left: 0%;
        clear: none;
    }

    #text2 {
        font-size: 12px;
        letter-spacing: 0.5px;
        height: auto;
        width: 329.203125px;
    }

    #text3 {
        font-size: 11px;
        margin-top: 0px;
        margin-left: 0.05639669%;
        clear: none;
        height: auto;
        width: 114px;
        letter-spacing: 0.5px;
    }

    #text6 {
        font-size: 11px;
        height: auto;
        margin-top: 0px;
        margin-left: 5px;
        clear: none;
        width: 84px;
        letter-spacing: 0.5px;
    }

    #text5 {
        font-size: 11px;
        height: auto;
        margin-top: 0px;
        margin-left: 8px;
        clear: none;
        width: 90.71875px;
        letter-spacing: 0.5px;
    }

    #account {
        margin-right: 1.110581%;
        margin-top: 0px;
        clear: none;
    }

    #text7 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #text8 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #text9 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #text10 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #text11 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #text12 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #text13 {
        font-size: 15.5px;
        letter-spacing: 0.5px;
    }

    #account_cart {
        width: 360.171875px;
        margin-right: auto;
    }

    #nav {
        margin-top: 20.046875px;
        clear: none;
    }

    #text1 {
        float: left;
        font-size: 12px;
        width: auto;
        height: auto;
        text-align: center;
        font-weight: normal;
        line-height: 1em;
        margin-left: 9px;
        margin-top: 12px;
        clear: none;
        min-height: 0px;
        margin-right: 10px;
        color: rgb(255, 255, 255);
        font-family: helvetica;
    }

    #textspan2 {
        float: none;
        font-size: 12px;
        line-height: 1em;
    }

    #marketing_bar {
        display: block;
    }

    #image {
        width: 190px;
        height: 30px;
    }

    #image1 {
        width: 190px;
        height: 10px;
    }

    #logo {
        width: 190px;
        height: 40px;
    }

    #text {
        width: auto;
        color: rgb(255, 255, 255);
        margin-left: 36.645299%;
        margin-right: 0px;
        float: left;
        margin-top: 12px;
        clear: none;
        font-size: 12px;
    }

    #image2 {
        width: 24px;
        height: 23px;
        display: none;
    }

    #hamburger {
        display: none;
    }

    #image3 {
        display: none;
    }

    #text4 {
        font-size: 11px;
        padding-top: 17px;
    }
}

@media only screen and (max-width: 750px) {
    #line {
        display: none;
        margin-top: -63px;
        margin-left: 0%;
        clear: none;
    }

    #nav {
        display: none;
    }

    #top_tools {
        display: none;
    }

    #marketing_bar {
        display: block;
        margin-top: 78px;
        clear: none;
        height: 70px;
        background-color: rgb(243, 243, 243);
    }

    #image1 {
        display: none;
        width: auto;
        height: auto;
    }

    #logo {
        margin-top: -124px;
        clear: none;
        display: block;
        width: 180px;
        height: 39px;
    }

    #text1 {
        color: rgb(51, 51, 51);
        margin-top: 6px;
        clear: none;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #text {
        float: none;
        font-size: 21px;
        width: 250px;
        height: auto;
        text-align: center;
        font-weight: normal;
        line-height: 1em;
        margin-left: auto;
        margin-top: 17px;
        clear: none;
        min-height: 0px;
        margin-right: auto;
        color: rgb(51, 51, 51);
    }

    #textspan {
        float: none;
        font-size: 1em;
        line-height: 1em;
        font-weight: 600;
    }

    #textspan1 {
        float: none;
        font-size: 1em;
        line-height: 1em;
        font-weight: 600;
    }

    #box {
        display: none;
    }

    #image2 {
        float: left;
        width: 31.296875px;
        max-width: 100%;
        height: 30px;
        margin-left: 91.888661%;
        margin-top: -41px;
        clear: none;
        color: rgb(0, 0, 0);
        display: block;
        padding-right: 0px;
        margin-right: 10px;
    }

    #image {
        margin-top: 0px;
        clear: none;
        width: 180px;
        height: 29px;
    }

    #image3 {
        float: right;
        width: 36px;
        max-width: none;
        height: 36px;
        margin-left: 0px;
        margin-top: -43px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 10.433743%;
        display: block;
    }

    #hamburger {
        float: left;
        height: 25px;
        margin: -37px 0px 0px 23px;
        clear: none;
        width: 30px;
        display: block;
    }

    #box9 {
        float: left;
        height: 3px;
        margin-left: 0%;
        margin-top: 0px;
        clear: none;
        width: 100%;
        background-color: rgb(51, 51, 51);
        display: block;
    }

    #box10 {
        float: left;
        height: 3px;
        margin-left: 0%;
        margin-top: 6.5px;
        clear: both;
        width: 100.000002%;
        display: block;
        background-color: rgb(51, 51, 51);
        margin-right: 0%;
    }

    #box11 {
        float: left;
        height: 3px;
        margin: 8px 0px 0px;
        clear: both;
        width: 100%;
        display: block;
        background-color: rgb(51, 51, 51);
    }
}

